/* **************************************************************************** *
 *
 * app.scss
 *
 * by: Snkh <iamsnkh@pm.me>
 *
 * Created: 26/06/2019 01:37 by Snkh
 * Project: snkh.me
 *
 **************************************************************************** */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

body {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  transition: opacity 0.4s;
  overflow:hidden;
}

@import 'components/loading';


